@import url(bootstrap.min.css);
/* line 3, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
a {
  color: black;
}

/* line 6, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
a:hover {
  color: red;
}

/* line 9, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
.error_notification {
  display: block;
  width: 400px;
  height: auto;
  background: red;
  border-radius: 5px;
  padding: 5px;
}

/* line 17, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 22, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

/* line 27, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
input[type="checkbox"] + label {
  background: url(checkbox.png) 0 0 no-repeat;
  padding-left: 20px;
}

/* line 32, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
input[type="checkbox"]:checked + label {
  background-position: 0 -50px;
}

/* line 35, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
abbr[title="required"] {
  display: none;
}

/* line 40, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 45, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul:after {
  display: block;
  content: " ";
  clear: both;
  float: none;
}

/* line 51, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.menu > li {
  float: left;
  position: relative;
}

/* line 55, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.menu > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 120px;
  text-align: center;
}

/* line 63, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 44px;
  left: 0;
}

/* line 71, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.submenu > li {
  display: block;
}

/* line 74, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.submenu > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}

/* line 84, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
ul.menu > li:hover > ul.submenu {
  display: block;
}

/* line 87, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
#user_menu {
  position: fixed;
  right: 20px;
  margin-left: 10px;
}

/* line 94, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid red;
  background: rgba(255, 255, 255, 0.95);
}
/* line 100, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
header a {
  font-size: 1.2em;
}

/* line 105, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
.work_place {
  padding-top: 45px;
  margin-left: 20px;
}

/* line 109, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
form {
  margin-left: 35%;
  width: 400px;
}
/* line 114, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
form input {
  width: 400px;
  border: 1px solid red;
  border-radius: 2px;
  background: none;
}
/* line 121, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
form input:focus {
  background: none;
}

/* line 126, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
h2 {
  text-align: center;
}

/* line 130, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
.button {
  background: none;
  border: 1px solid red;
  margin-top: 2%;
}

/* line 136, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
div.form-inputs {
  margin-bottom: 10px;
}

/* line 140, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
div#sign_in_links {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
/* line 148, /Users/alidavudov/Dropbox/My projects/omega_project/app/assets/stylesheets/application.css.sass */
div#sign_in_links a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
