<%= render "layouts/header" %>
<div class="work_place">
<h1>Wallets</h1>
<ul>
<% @wallets.each do |i| %>
<li><%= link_to i.name, i %></li>
<li><%= i.summ %></li>
<li><%= i.currency %></li>
<% end %>
</ul>
</div>
