@import 'bootstrap.min.css'


.error_notification 
  display: block
  color: black
  width: 400px
  height: auto
  background: red
  border-radius: 5px
  padding: 5px

input 
  display: block
  margin-top: 10px
  margin-bottom: 10px

input[type="checkbox"] 
  position: absolute
  left: -9999px


input[type="checkbox"] + label 
  background: url(checkbox.png) 0 0 no-repeat
  padding-left: 20px


input[type="checkbox"]:checked + label 
  background-position: 0 -50px

abbr[title="required"]
  display: none

body 
  background: rgb(240, 240, 240)
  background-size: 100% auto

ul 
  display: block
  margin: 0
  padding: 0
  list-style: none
ul:after 
  display: block
  content: ' '
  clear: both
  float: none

ul.menu > li 
  float: left
  position: relative

ul.menu > li > a 
  display: block
  padding: 10px
  text-decoration: none
  width: 120px
  text-align: center


ul.submenu 
  display: none
  position: absolute
  width: 120px
  top: 44px
  left: 0


ul.submenu > li 
  display: block

ul.submenu > li > a 
  display: block
  padding: 5px
  text-decoration: none
  border-bottom: 1px solid red
  border-left: 1px solid red
  border-right: 1px solid red
  background: rgba(240, 240, 240, 0.95)
  text-align: center

ul.menu > li:hover > ul.submenu 
  display: block

#user_menu
  position:  fixed
  right: 20px
  margin-left: 10px



header
  position: fixed
  width: 100%
  border-bottom: 1px solid red
  background: rgba(240, 240, 240, 0.95)

  a
    color: red
    font-size: 1.2em



.work_place 
  padding-top: 45px
  margin-left: 20px

form 
  margin-left: 35%
  width: 400px


  input 
    width: 400px
    border: 1px solid red
    border-radius: 2px
    background: none


  input:focus 
    background: none



h2 
  text-align: center


.button 
  background: none
  border: 1px solid red
  color: red
  margin-top: 2%


div.form-inputs 
  margin-bottom: 10px


div#sign_in_links 
  margin-top: 15px
  display: flex
  flex-direction: row
  justify-content: space-between
  text-align: center


  a 
    display: inline-block
    margin-right: 10px
    margin-left: 10px
    color: black







/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
