@import "bootstrap.css";

.error_notification {
  display: block;
  width: 400px;
  height: auto;
  background: red;
  border-radius: 5px;
  padding: 5px;
}

input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + label {
  background: url(checkbox.png) 0 0 no-repeat;
  padding-left: 20px;
}

input[type="checkbox"]:checked + label {
  background-position: 0 -50px;
}

abbr[title="required"] {
  display: none;
}

body {

  background-size: 100% auto;
}

.modal {
  position: auto;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 230px;
  margin-left: -200px;
  margin-top: -100px;
  background: rgba(0,0,0,0.5);
  display: inline-block;
  z-index: 10000;
  min-height: 50;

} 



header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid red;
  background: rgba(255, 255, 255, 0.7);
  div {
    position: relative;
    display: inline-block;
    color: green;
    margin: 10px;
    a {
      color: green;
      font-size: 1.2em;
    }
  }
}

#work_place {
  padding-top: 45px;
}

form {
  margin-left: 35%;
  width: 400px;
  input {
    width: 400px;
    border: 1px solid red;
    border-radius: 2px;
    background: none;
  }
  input:focus {
    background: none;
  }
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

s

div.form-inputs {
  margin-bottom: 10px;
}

div#sign_in_links {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
  }
}

#sign-up {
  display: none;
}

/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require bootstrap
 */
