@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  text-align:  center;
  padding-top: 80px;
  background-color: #99FF66;background-image: url(http://www.topglobus.ru/fotoalbum/pozadi/galerie/419.jpg);

div{
  margin:20px;
   }
}
